.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .open>.dropdown-toggle.btn-outline-danger .btn-outline-dangery:active:focus {
            color: rgb(240, 35, 35) !important; 
            background-color: #fff !important;
            border-color: #fff !important; /*set the color you want here*/
}   

h2.separator {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #D3D3D3; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2.separator span { 
     background:#fff; 
     padding:0 10px; 
 }
 
.error {
    border: 1px solid red;
 }

 .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
  }

  p {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 p span { 
     background:#fff; 
     padding:0 10px; 
 }

 .cursorPointer{
    cursor: pointer;
 }

 .googleLogin{
     font-weight: 100 !important;
     height: 10% !important;
     margin-right: 0px!important;
     border:0px !important;
     font-family: sans-serif !important;
     margin-bottom: 2%;
     font-size:medium !important;
 }

 .kep-login-facebook{
    padding:6px !important;
    height: 42px !important;
    width:40% !important;
    text-transform: none !important;
    font-weight: lighter !important;
    font-size: medium !important;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#dropdown-menu-align-right{
    background-color: #343A40 !important;
    border:none;
    border-color:white!important;
}